@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}



.largura{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6.25rem;
    padding: 2.5rem 1.25rem;
}

.p-txt{
    font-size: 1.5rem;
    max-width: 40ch;
    line-height: 1.33;
    color: #525252;
}

.formatacao-h2{
    font-size: 8rem;
    word-break: break-all;
    max-width: 4ch;
    text-transform: uppercase;
    color: #E0E0E0;
}


@media (max-width: 800px){
    .refector{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .h2-refector{
        max-width: initial;
        font-size: 3rem;
        color: #000;
    }

    .config-p{
        font-size: 1.25rem;
    }
}

