header.header{
    max-width: 1200px; 
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.25rem;
}

header.header nav ul.header-menu{
    display: flex;
    gap: 2.5rem;
    font-size: 1.20rem;
}

header.header nav ul.header-menu li a{
    position: relative;
    color: #141414;
    padding: 0 3px;
    
}

header.header nav ul.header-menu li a::after{
    content: '';
    width: 0;
    height: .1875rem;
    background-color: #95ED1C;
    position: absolute;
    bottom: -.1875rem;
    left: 0;
    transition: .3s linear;
}

header.header nav ul.header-menu li a:hover::after{
    width: 100%;
}


@media (max-width: 800px){
    header.header{
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 450px){
    header.header nav ul.header-menu{
        flex-direction: column;
        text-align: center;
    }

    header.header nav ul.header-menu li a{
        background-color: #c3c3c35b;
        padding: 8px 10px;
    }

    header.header nav ul.header-menu li a::after{
        display: none;
    }
}