main.main{
    align-items: center;
    justify-content: center;
}

main.main img.image-lobo{
    max-width: 100%;
}

main.main div.main-txt h1{
    font-size: 4.5rem;
    margin: 0 0 2.5rem 0;
    position: relative;
}

main.main div.main-txt h1::after{
    content: '';
    background-image: url("../images/detalhe.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 6.25rem;
    position: absolute;
    top: -1.5625rem;
    left: -2.5rem;
    z-index: -100;
}

main.main div.main-txt span{
    font-size: 1.5rem;
    color: #525252;
}


@media (max-width: 1000px){
    main.main div.main-txt h1{
        font-size: 3rem;
    } 
}

@media (max-width: 800px){
    main.main{
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    main.main div.main-txt h1{
        font-size: 2rem;
    }

    main.main div.main-txt h1::after{
        display: none;
    }
}

@media (max-width: 450px){
    main.main img.image-lobo{
        display: none;
    }

    main.main div.main-txt h1{
        font-size: 2.75rem;
    }
}
